{% extends 'common/base.html' %}

{% block title %}广场{% endblock %}
{% block page_body %}
<div class="page-body">
            <div class="ui nags">
            </div>
            <div class="w-breadcrumb">
                <div class="ui container">
                    <a class="toc">
                        <i class="align justify icon"></i>
                    </a>
                    <div class="ui huge breadcrumb">
                        <div class="active section">广场</div>
                    </div>
                </div>
            </div>
            <div class="ui container stackable grid">
                <div class="twelve wide column">
                    <div class="ui basic segment">
                        <h3 class="ui header dividing">精彩推荐
                            <a class="ui right floated " href="#">
                                <i class="icon angle double right"></i>
                            </a>
                        </h3>

                        <div class="ui special six doubling cards">
                            <a class="ui link card" href="#">
                                <div class="blurring dimmable image">
                                    <div class="ui dimmer">
                                        <div class="content">
                                            <div class="center ">
                                                <h4>从高效使用 Mac 到轻度编程</h4>
                                                <p class="ui text yellow ">
                                                    ￥29.00
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="./asset/square/mac_program!middle">
                                </div>
                            </a> <a class="ui link card" href="#">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center ">
                                            <h4>PHP面试宝典</h4>
                                            <p class="ui text yellow ">
                                                ￥8.80
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <img src="./asset/square/php!middle">
                            </div>
                        </a> <a class="ui link card" href="#">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center ">
                                            <h4>Grace development 2018</h4>
                                            <p class="ui text yellow ">
                                                ￥8.88
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <img src="./asset/square/grace_development_2018!middle">
                            </div>
                        </a> <a class="ui link card" href="#">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center ">
                                            <h4>良质！PHP企业级系统开发</h4>
                                            <p class="ui text yellow ">
                                                ￥37.90
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <img src="./asset/square/liangzhi_php!middle">
                            </div>
                        </a> <a class="ui link card" href="#">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer transition hidden">
                                    <div class="content">
                                        <div class="center ">
                                            <h4>Tasker 中文用户指南</h4>
                                            <p class="ui text yellow ">
                                                ￥7.99
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <img src="./asset/square/tasker-userguide-chs!middle">
                            </div>
                        </a> <a class="ui link card" href="#">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer transition hidden">
                                    <div class="content">
                                        <div class="center ">
                                            <h4>phalcon3入门指南</h4>
                                            <p class="ui text yellow ">
                                                ￥15.00
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <img src="./asset/square/phalcon3_quickstart!middle">
                            </div>
                        </a> <a class="ui link card" href="#">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center ">
                                            <h4>ThinkPHP开发者周刊</h4>
                                        </div>
                                    </div>
                                </div>
                                <img src="./asset/square/weekly!middle">
                            </div>
                        </a> <a class="ui link card" href="#">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center ">
                                            <h4>Laravel+Layim+GatewayWorker打造即时通讯系统</h4>
                                            <p class="ui text yellow ">
                                                ￥30.00
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <img src="./asset/square/laravel!middle">
                            </div>
                        </a> <a class="ui link card" href="#">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center ">
                                            <h4>createjs-从入门到精通</h4>
                                            <p class="ui text yellow ">
                                                ￥8.88
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <img src="./asset/square/game!middle">
                            </div>
                        </a> <a class="ui link card" href="#">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center ">
                                            <h4>(第三版) PHP Golang Linux 笔记 </h4>
                                            <p class="ui text yellow ">
                                                ￥8.00
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <img src="./asset/square/source-open-d!middle">
                            </div>
                        </a> <a class="ui link card" href="#">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center ">
                                            <h4>vue面试试题精编</h4>
                                            <p class="ui text yellow ">
                                                ￥18.80
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <img src="./asset/square/vue-iq!middle">
                            </div>
                        </a> <a class="ui link card" href="#">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center ">
                                            <h4>Unity 游戏框架搭建 2019</h4>
                                            <p class="ui text yellow ">
                                                ￥49.20
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <img src="./asset/square/unity_framework_design!middle">
                            </div>
                        </a></div>
                    </div>
                    <div class="ui basic segment">
                        <h3 class="ui header dividing">
                            免费热门
                            <a class="ui right floated " href="#"><i
                                    class="icon angle double right"></i></a>
                        </h3>

                        <div class="ui special six doubling cards">
                            <a class="ui link card" href="{% url 'book:detail' 1 %}">
                                <div class="blurring dimmable image">
                                    <div class="ui dimmer">
                                        <div class="content">
                                            <div class="center ">
                                                <h4>ThinkPHP5.0完全开发手册</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="./asset/square/cover_manual_thinkphp5.jpg-bookmiddle">
                                </div>
                            </a> <a class="ui link card" href="#">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center ">
                                            <h4>ThinkPHP5.1完全开发手册</h4>
                                        </div>
                                    </div>
                                </div>
                                <img src="./asset/square/thinkphp5_1!middle">
                            </div>
                        </a> <a class="ui link card" href="#">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center ">
                                            <h4>ThinkPHP3.2.3完全开发手册</h4>
                                        </div>
                                    </div>
                                </div>
                                <img src="./asset/square/thinkphp!middle">
                            </div>
                        </a> <a class="ui link card" href="#">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center ">
                                            <h4>DolphinPHP1.3.3完全开发手册-基于ThinkPHP5.0.24的快速开发框架</h4>
                                        </div>
                                    </div>
                                </div>
                                <img src="./asset/square/dolphinphp!middle">
                            </div>
                        </a> <a class="ui link card" href="#">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer transition hidden">
                                    <div class="content">
                                        <div class="center ">
                                            <h4>C语言编程基础</h4>
                                        </div>
                                    </div>
                                </div>
                                <img src="./asset/square/cover_2016-05-06_572c61b773aa_800x1068.jpg-bookmiddle">
                            </div>
                        </a> <a class="ui link card" href="#">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer transition hidden">
                                    <div class="content">
                                        <div class="center ">
                                            <h4>ThinkPHP开发者周刊</h4>
                                        </div>
                                    </div>
                                </div>
                                <img src="./asset/square/weekly!middle">
                            </div>
                        </a></div>
                    </div>

                    <div class="ui basic segment">
                        <h3 class="ui header dividing">
                            付费热门
                            <a class="ui right floated " href="#"><i
                                    class="icon angle double right"></i></a>
                        </h3>

                        <div class="ui special six doubling cards">
                            <a class="ui link card" href="#">
                                <div class="blurring dimmable image">
                                    <div class="ui dimmer">
                                        <div class="content">
                                            <div class="center ">
                                                <h4>ThinkPHP5快速入门</h4>
                                                <p class="ui text yellow ">
                                                    ￥20.00
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="./asset/square/cover_thinkphp_thinkphp5_quickstart.jpg-bookmiddle">
                                </div>
                            </a> <a class="ui link card" href="#">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center ">
                                            <h4>Pig技术文档V1.0</h4>
                                            <p class="ui text yellow ">
                                                ￥59.99
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <img src="./asset/square/pig-guide!middle">
                            </div>
                        </a> <a class="ui link card" href="#">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center ">
                                            <h4>ThinkPHP5高阶实战教程 --诠释为API开发而生</h4>
                                            <p class="ui text yellow ">
                                                ￥1.00
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <img src="./asset/square/thinkphp5_study!middle">
                            </div>
                        </a> <a class="ui link card" href="#">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center ">
                                            <h4>老猫带你玩转ThinkPHP5 API开发</h4>
                                            <p class="ui text yellow ">
                                                ￥20.48
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <img src="./asset/square/cmf5api!middle">
                            </div>
                        </a> <a class="ui link card" href="#">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center ">
                                            <h4>vue面试试题精编</h4>
                                            <p class="ui text yellow ">
                                                ￥18.80
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <img src="./asset/square/vue-iq!middle">
                            </div>
                        </a> <a class="ui link card" href="#">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center ">
                                            <h4>ThinkPHP5.0入门实例教程</h4>
                                            <p class="ui text yellow ">
                                                ￥9.88
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <img src="./asset/square/thinkphp5guide!middle">
                            </div>
                        </a></div>
                    </div>

                    <div class="ui basic segment">

                        <h3 class="ui header dividing">
                            热门专题
                            <a class="ui right floated " href="#"><i
                                    class="icon angle double right"></i></a>
                        </h3>

                        <div class="ui three doubling cards">
                            <a href="#" class="ui link red card">
                                <div class="content">
                                    <div class="header">ThinkPHP5入门系列</div>
                                    <div class="description">
                                        ThinkPHP5 官方入门系列教程
                                    </div>
                                </div>
                                <div class="extra content">
                                    <i class="icon book"></i>8
                                </div>
                            </a>
                            <a href="#" class="ui link yellow card">
                                <div class="content">
                                    <div class="header">ThinkPHP5视频教程系列</div>
                                    <div class="description">
                                        第三方的ThinkPHP5视频教程推荐系列
                                    </div>
                                </div>
                                <div class="extra content">
                                    <i class="icon book"></i>6
                                </div>
                            </a>
                            <a href="#" class="ui link purple card">
                                <div class="content">
                                    <div class="header">博客专家精选集</div>
                                    <div class="description">
                                        为大家精选的各大博客平台的专栏作者的力作，让我们好好品读那些...
                                    </div>
                                </div>
                                <div class="extra content">
                                    <i class="icon book"></i>82
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="four wide column">
                    <a class="ui image activity" href="#">
                        <img src="./asset/square/6.jpg">
                        <span class="text">周年优惠</span>
                    </a>
                    <a class="ui image activity" href="#">
                        <img src="./asset/square/7.jpg">
                        <span class="text">限时免费</span>
                    </a>

                    <div class="ui basic segment">
                        <h4 class="ui header dividing">热门标签</h4>
                        <div class="ui labels">
                            <a href="#" class="ui label">
                                Python
                                <div class="detail">183</div>
                            </a>
                            <a href="#" class="ui label">
                                新手入门
                                <div class="detail">169</div>
                            </a>
                            <a href="#" class="ui label">
                                前端开发
                                <div class="detail">146</div>
                            </a>
                            <a href="#" class="ui label">
                                移动开发
                                <div class="detail">91</div>
                            </a>
                            <a href="#" class="ui label">
                                Java
                                <div class="detail">89</div>
                            </a>
                            <a href="#" class="ui label">
                                Android
                                <div class="detail">89</div>
                            </a>
                            <a href="#" class="ui label">
                                Vue
                                <div class="detail">67</div>
                            </a>
                            <a href="#" class="ui label">
                                laravel
                                <div class="detail">58</div>
                            </a>
                            <a href="#" class="ui label">
                                程序员
                                <div class="detail">56</div>
                            </a>
                            <a href="#" class="ui label">
                                Redis
                                <div class="detail">42</div>
                            </a>
                        </div>
                    </div>

                    <div class="ui basic segment">
                        <h4 class="ui header dividing">最新博客</h4>
                        <div class="ui relaxed list">
                            <a class="item" href="#">本周更新：看云阅读小程序支持海报分享</a>
                            <a class="item" href="#">本周更新：文件管理和PDF导出设置</a>
                            <a class="item" href="#">看云双十二企业专业版钜惠——领券仅888/年</a>
                        </div>
                    </div>

                    <div class="ui basic segment">
                        <h4 class="ui header dividing">关注我们</h4>
                        <div class="ui image ">
                            <img src="./asset/square/qrcode.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}