<div class="page-head">
{% load static %}
            <div class="ui menu small secondary fixed">
                <a class="logo item" href="/"></a>
                <a class="item" href="{% url 'index:square' %}">广场</a>
                <a class="item" href="#">客户端</a>
                <a class="item" href="#">帮助</a>
                <div class="right menu ">
                    <a class="toc item" data-selector="sidebar toc">
                        <i class="ellipsis vertical icon"></i>
                    </a>
                    <form action="#">
                        <div class="item">
                            <div class="ui icon input">
                                <input name="q" type="text" placeholder="搜索看云...">
                                <i class="search icon"></i>
                            </div>
                        </div>
                    </form>

                    <!--在django模板中，session的访问要使用.语法-->
                    {% if request.session.Login %}
                    <a class="item icon" href="{% url 'user:user_doc_lists' %}"><i class="book icon"></i></a>
{#                    <a class="item icon" href="/notification"><i class="alarm icon"></i></a>#}
                    <div class="ui dropdown item pointing top right icon" tabindex="0">
                        <i class="add icon"></i>
                        <i class="dropdown icon"></i>
                        <div class="menu" tabindex="-1">
                            <a class="item" href="{% url 'book:create' %}">创建文档</a>
                        </div>
                    </div>
                    <div class="ui dropdown item pointing top right" tabindex="0">
                        <img class="ui avatar bordered image" src="{% static request.session.Login.avatar %}">
                        <i class="dropdown icon"></i>
                        <div class="menu" data-display="block" tabindex="-1">
                            <div class="header">当前用户：
                            {% if request.session.Login.nickname %} {{ request.session.Login.nickname }}
                            {% else %}  {{ request.session.Login.mobile }}
                            {% endif %}</div>
                            <div class="ui divider"></div>
                            <a class="item" href="{% url 'user:modify' %}">个人主页</a>
                            <div class="ui divider"></div>
                            <a class="item" href="{% url 'user:logout' %}">退出登录</a>
                        </div>
                    </div>

                    {% else %}
                    <a class="item" href="{% url 'user:login' %}">登录</a>
                    <a class="item" href="{% url 'user:register' %}">注册</a>
                    {% endif %}





                </div>



            </div>

        </div>